// give style to button
@mixin button-styling ($color) {
  height: 2.5em;
  background-color: $color;
  color: $color-secondary;
  border-radius: 7px;
  border-style: none;
}

//give color to grid column
@mixin gridcol-styling ($color) {
  height: 2em;
  background-color: $color;
  color: $color-primary;
  border-radius: 7px;
  border-style: none;
}


// Media Queries
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $break-s) and (max-width: $break-m){
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $break-m + 1) {
      @content;
    }
  }
  @else {
    @error "This is not a correct value #{$break}";
  }
}


//Flexbox settings
@mixin fbx-setting ($flex-d) {
  display: flex;
  flex-direction: $flex-d;
}
