// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$font-stack-primary: 'Ubuntu', sans-serif;
$color-primary: black;
$color-light-primary: darken(lightgrey,30%);
$color-secondary: white;
$color-marine: aquamarine;
$color-default: LightSkyBlue;
$color-success: LightGreen;
$color-error:LightCoral;
$color-warning: LightSalmon;
$color-info: MediumSlateBlue;

//grid column $color
$color-gridcol-1: white;
$color-gridcol-2: white;
$color-gridcol-3: #DBB5ED;
$color-gridcol-4: #94DDF1;
$color-gridcol-5: #92D1A8;
$color-gridcol-6: #47A1C7;
$color-gridcol-7: #E09FA0;
$color-gridcol-8: #E8A993;
$color-gridcol-9: white;
$color-gridcol-10: white;
$color-gridcol-11: white;
$color-gridcol-12: #6FD6EB;

$break-s: 1px;
$break-m: 480px;
$break-l: 1400px;
