// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    // NOTE: replace with media query mixin if aiming for exceeds
     @extend %row-default;
    @include mq(medium) {
      @include fbx-setting(row);
      justify-content: space-around;
    }
  }

  // .grid__col
  &__col {
    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {
        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        @extend %col-default;
        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq(medium) {
          // base stlyes applied to all grid columns
          margin-top: 0;
          // make column width a percentage of the column number / total columns
          flex-basis: col-basis($i,12);
        }

      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {
    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(medium) {
      // add grid gutter
      margin-left: 10px;
    }
  }
}

// arange buttons on column 12
.grid__col--12 {
  @include fbx-setting(column);
  @include mq(medium){
    @include fbx-setting(row);
    justify-content: space-around;
    button {
      margin-left: 10px;
      flex-basis: col-basis(1,5);
    }
  }
}

//give colors to grid columns

.grid__col {
  &--12.theme__colors {
    @include gridcol-styling($color-gridcol-12);
  }
  &--6.theme__colors {
    @include gridcol-styling($color-gridcol-6);
  }
  &--4.theme__colors {
    @include gridcol-styling($color-gridcol-4);
  }
  &--3.theme__colors {
     @include gridcol-styling($color-gridcol-3);
  }
  &--5.theme__colors {
    @include gridcol-styling($color-gridcol-5);
  }
  &--7.theme__colors {
    @include gridcol-styling($color-gridcol-7);
  }
  &--8.theme__colors {
    @include gridcol-styling($color-gridcol-8);
  }
  &--4.theme__colors {
    @include gridcol-styling($color-gridcol-4);
  }
}
